a.buttonpluse{
    color: white;
    text-decoration: none;
    font-size: clamp(1.5rem,2.5vw,2.0rem);
    margin-left: 5%;
}
a.buttonpluse:hover{
    text-decoration: none;
    color: red;
}
.dynamic-list{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0%;
    margin-bottom: 0;
}
.showslist{
    position: relative;
    display: block;
    padding: 1% 1.5%;
    margin-bottom: 2%;
    background-color:
    #202020;
    border: 1px solid
    rgba(0,0,0,.125);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    color: white;
    font-size: clamp(0.5rem,2vw,1.2rem);
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.download{
    width: 15px;
    display: inline-block;
    float: right;
    position: relative;
    margin-top: 0.5%;
}
.heading{
    color: white; 
    margin-top: 2%;
    margin-bottom: 5%;
    font-weight: bold;
    text-align: center;
    font-size: clamp(1rem,2.5vw,2rem);
    padding-left: 10vw;
}
.linkss{
    float: right;
    text-decoration: none;
    color: red;
}
.myinput{
background-image: url('images/search.png');
background-position: 10px 12px;
background-size: 3%;
background-repeat: no-repeat;
  width: 75%;
  font-size: clamp(0.8rem,2.5vw,1.2rem);
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 3%;
  margin-left: 7%;
  border-radius: 2rem;
}
a.showtitle{
    color: white;
    text-decoration: none;
    display: inline-block;
}
a.update{
    padding-right: 2vw;
    text-decoration: none;
    color: white;
    float: right;
    padding-right: 2vw;
    padding-top: 0.5vw;
    font-size: clamp(0.6rem,2.5vw,1.5rem);
}
a.update:hover{
    text-decoration: none;
    color: red;
}
.latestepisodes{
    background-color: black; 
    color: white;
    border-color: transparent;
}
