body{
    font-family: Lato;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: transparent;
  }
.body-color
{
    background-color: black;
}
.secondary{
    color: white;
}
.torrent-image
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
}
.tvshows
{
    display: block;
    width: 70%;
    padding: 2%;
    padding-top: 0px;
}
h1.tvshowstext
{
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: clamp(1.2rem,2.5vw,2.5rem);
}
a.mainbutton
{
  background-color: red;
  border: none;
  color: white;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 5%;
  font-size: clamp(1rem,2.5vw,1.5rem);
  border-radius: 10px;
  align-items: center;
  font-weight: bold;
}
.mainbutton:hover 
{
    background-color: transparent;
    color: white;
    border-color: red;
    border-style: solid;
}
hr { 
    position: relative;  
    height: 12px; 
    background: #202020; 
} 
.card-header{
    color:white;
    background-color: #202020;
    font-size:clamp(1rem,2.5vw,1.5rem);
    font-weight: 500;
    display: inline-block;
}
.card{
    margin: 1.5%;
    background-color: #202020;
}
.about{
    color: white;
    font-size: 2.5vw;
}
.pluse{
    background-color:transparent;
    color: white;
    font-size:clamp(1rem,2.5vw,1.5rem);
    font-weight: bold;
    display: inline-block;
    float: right;
    position: relative;
}
.card-body{
    color: white;
    font-size:clamp(1rem,2.5vw,1.5rem);
    padding: 20px;
    padding-top: 0px;
}
.accordion{
    background-color: black;
}
.disclaimer{
    text-align: center;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2%;
    font-size: 1.2vw;
    background-color: black; 
}
.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav-item a{
    font-size: medium;
    text-align: center;
    font-weight: bold;
}
.navbar-nav
{
    padding: 4%;
}
.toppart{
    background-image: url("images/toppart.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}